.root {
  p {
    font-size: 1.2rem;
    font-weight: bold;
  }

  hr {
    margin: .5rem 0;
  }

  a { 
    margin-bottom: .5rem;
    display: block;
    font-size: .8rem;
    height: 25px;
    &:hover {
      border-bottom: 1px solid #dfdee2;
    }
  }
}

.activeNavLink {
  border-bottom: 1px solid #dfdee2;
}