.root {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 1rem;

  .product {
    width: 32%;
    margin: 0 .5%;
    border: 1px solid #dfdee2;
    margin-bottom: .5rem;
    padding: 1rem;
    text-align: center;
    cursor: pointer;

    img {
      width: 100%;
    }

    hr {
      margin: .5rem 0;
    }

    p {
      font-size: .8rem;
      font-weight: bold;
    }

    h2 {
      margin-top: 1rem;
      font-weight: bold;
    }

    .code {
      background: #dfdee2;
      padding: 3px;
      margin-top: .5rem;
      border-radius: 6px;
      font-size: .8rem;
    }

    .cartBtn {
      margin-top: 1rem;
      button {
        text-transform: uppercase;
      }
    }
  }
}